tests/Issues/I22/data2.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.example2.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="ElementList">
        <xs:sequence>
            <xs:element maxOccurs="5" name="Element" type="Element"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Element">
        <xs:attribute name="attribute" type="xs:string" />
    </xs:complexType>
</xs:schema>
