tests/Issues/I168/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.com/" elementFormDefault="qualified">
    <xs:complexType name="ComplexType">
        <xs:choice>
            <xs:sequence>
                <xs:element name="key" type="xs:string"/>
                <xs:element name="stream" type="xs:string" minOccurs="0" nillable="true"/>
            </xs:sequence> 
            <xs:sequence>
                <xs:element name="packet" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:choice>
    </xs:complexType>
</xs:schema>
