tests/Issues/I26/data.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="MainElement">
        <xs:sequence>
            <xs:element name="RequiredElementList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:ele
                        <xs:element name="NestedElement" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:comexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>