tests/Issues/I84/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:job="http://www.example.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.com/" elementFormDefault="qualified">
    <xs:complexType name="a.b">
        <xs:sequence>
            <xs:element name="f.gh"/>
        </xs:sequence>
        <xs:attribute name="c.de"/>
    </xs:complexType>
</xs:schema>